<style>
    .footer {
        background-color: rgb(18, 18, 18);
        padding: 50px;
        margin-top: 100px;
    }

    .socials-title {
        display: flex;
        justify-content: center;
        color: white;
    }

    .socials {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    .social-img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }

    .seperator {
        height: 3px;
        background-color: green;
        margin-top: 32px;
    }

    .other {
        display: flex;
        justify-content: space-around;
        color: white;
    }

    .other a {
        color: white;
        text-decoration: none;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }

    .company {
        display: flex;
        flex-direction: column;
    }

    .quicklinks {
        display: flex;
        flex-direction: column;
    }

    .newsletter-FAQ {
        display: flex;
        flex-direction: column;
    }

    .copyright {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        color: white;
    }
    @media(max-width:1000px) {
        .other {
            flex-direction: column;
            text-align: center;
        }
        }
</style>

<div class="footer">
    <h3 class="socials-title"> Folge uns</h3>
    <div class="socials">
        <img class="social-img" src="img/icons/facebook-3-64.ico" alt="">
        <img class="social-img" src="img/icons/instagram-64.ico" alt="">
        <img class="social-img" src="img/icons/youtube-64.ico" alt="">
        <img class="social-img" src="img/icons/pinterest-3-64.ico" alt="">
        <img class="social-img" src="img/icons/twitter-64.ico" alt="">
    </div>

    <div class="seperator"></div>

    <div class="other">
        <div class="company">
            <h3>Unternehmen</h3>
            <a href="#">Presse</a>
            <a href="#">Jobs</a>
            <a href="#">Impressum</a>
            <a href="#">AGB</a>
            <a href="#">Datenschutz</a>
            <a href="#">Datenschutz-Einstellungen</a>
            <a href="#">Werben Sie bei uns</a>
            <a href="#">Nutzungsbasierte Online Werbung</a>
        </div>
        <div class="quicklinks">
            <h3>Quicklinks</h3>
            <a href="#">Rezepte finden</a>
            <a href="#">Was koche ich heute</a>
            <a href="#">Was backe ich heute</a>
            <a href="#">Magazin Übersicht</a>
            <a href="#">Print-Magazin im Abo</a>
            <a href="#">Foren</a>
            <a href="#">Chefkoch Events</a>
            <a href="#">Videos Übersicht</a>
        </div>
        <div class="newsletter-FAQ">
            <h3>Newsletter</h3>
            <a href="#">Zum Newsletter anmelden</a>
            <h3>Wir sind für dich da</h3>
            <a href="#">FAQ</a>
        </div>
    </div>

    <div class="seperator"></div>

    <div class="copyright">
        <span>©2021 Kochwelt GmbH</span>

    </div>

</div>