<!-- navigation-bar-section -->
<style>
    .navigation-bar {
        display: flex;
        justify-content: space-around;
        box-shadow: 0 3px 7px 0 rgba(19, 20, 20, 0.32);
    }

    .img-nav-bar {
        height: 100px;
    }

    .links {
        display: flex;
        align-items: flex-end;
    }

    .links a {
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        text-decoration: green;
        padding-left: 15px;
        padding-right: 15px;
    }

    .links a:hover {
        border-bottom: 4px solid green;
        color: green;
        transition: all 225ms ease-in-out;
    }

    a {
        display: flex;
        align-items: flex-end;
    }

    .dropdown-menu {
        padding-left: 50px;
    }

    @media(max-width:1000px) {
        .hide-mobile {
            display: none;
        }
    }
</style>



<div class="navigation-bar hide-mobile">
    <img class="img-nav-bar" src="img/logo.png" alt="">


    <nav class="links">
        <a href="start.html">Start</a>
        <a href="recipt.of-the-day1.html">Rezept des Tages</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Impressum</a>
    </nav>
</div>