/* Startpage */

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    width: 1000px;
    margin: 0px auto;
}
.body-box {
    /* margin-left: 125px;
    margin-right: 125px; */
}
/* FIRST SECTION  *******************************************************/

.first-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}

.img-french-croissants {
    height: 250px;
    width: 350px;
}

.first-section-child-one {
    align-items: center;
}

.first-section-child-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.btn {
    width: 100px;
    height: 50px;
    background: rgb(0, 0, 0, 0.8);
    border: none;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    background: rgb(0, 0, 0);
    cursor: pointer;
}
/* ****************************************************************************** */

.new-inspirations {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(176 176 176);
}

.inspiration-elemente {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.inspiration-img {
    height: 200px;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
/* ************************************************************************************* */

.box {
    display: flex;
    flex-direction: column;
}

.box h1 {
    text-align: center;
    margin: 50px;
}

.box-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box-text p {
    max-width: 400px;
}

.img-wok {
    height: 200px;
    /* padding: 50px; */
}
/* Media query**************************************** */

@media(max-width: 1000px) {
    .body-box {
        margin: 0;
    }
    .first-section {
        flex-direction: column;
        padding: 0;
    }
    .img-french-croissants {
        height: 100%;
        width: 100%;
    }
    .first-section-child-two {
        align-items: center;
        max-width: none;
    }
    .first-section-child-two span {
        text-align: center;
        margin-bottom: 20px;
    }
    .new-inspirations {
        flex-direction: column;
    }
    .inspiration-elemente {
        flex-direction: column;
    }
    .inspiration-img {
        height: 200px;
        width: 300px;
    }
    .box h1 {
        text-align: center;
        margin: 0;
    }
    .box-text {
        flex-direction: column;
    }
    .box-text p {
        text-align: center;
        padding: 15px;
    }
    .img-wok {
        height: 200px;
        width: 300px;
    }
    .content {
        width: 100%;
    }
}
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-box {
    width: 1000px;
    margin: 0px auto;
}

.seperator1 {
    height: 3px;
    width: 160px;
    background-color: green;
    margin-top: 32px;
}

.TÜV {
    padding-top: 100px;
    padding-bottom: 100px;
}

.Credits h3,
a {
    text-decoration: none;
}
.dataPrivacy_healine {
    font-size: 24px;
}
@media(max-width: 1000px) {
    .body-box {
        width: 100%;
    }
}
/* Datenschutz */

        body {
            margin: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .body-box {
        }

        .header {
            padding-bottom: 150px;
        }

        h1 {
            text-align: center;
            color: green;
            padding-top: 30px;
        }

        .left-right-box {
            display: flex;
            justify-content: center;
            width: 900px;
            width: ;
            margin: 0px auto;
            width: 1000px;
        }

        .left {
            max-width: 875px;
            margin-right: 16px;
        }

        button {
            background-color: green;
            color: white;
            height: 75px;
            width: 500px;
            font-size: 20px;
        }

        .button {
            padding-bottom: 20px;
        }

        a {
            text-decoration: none;
        }

        .right {
            padding-top: 30px;
            max-width: 400px;
            border-left: 1px solid black;
            margin-left: 16px;
        }

        .otl {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .phone {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .advice-call {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .e-mail {
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .textfields {
            padding-top: 25px;
            display: flex;
        }

        .input-categorie {
            max-width: 20px;
        }

        textarea {
            background-color: grey;
            width: 850px;
            height: 50px;
            padding: 20px;
        }

        .textarea-commentar {
            height: 125px;
        }

        .right-box {
            padding-left: 20px;
        }

        .left-box {
            padding-top: 20px;
        }

        .text {
            padding-bottom: 20px;
        }

        .btn-send {
            background-color: green;
            width: 150px;
            height: 50px;
        }

        @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

        body {
            background: #f6f6f6;
        }

        .box {
            width: 640px;
            margin: 100px auto;
            background: #fff;
            border-radius: 7px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
        }

        .box .heading {
            background: green;
            border-radius: 7px 7px 0px 0px;
            padding: 10px;
            color: #fff;
            text-align: center;
            font-family: "Rubik";
        }

        .faqs {
            padding: 0px 20px 20px;
        }

        ::-webkit-details-marker {
            float: right;
            margin-top: 3px;
        }

        details {
            background: #f6f6f6;
            padding: 10px 20px;
            border-radius: 7px;
            margin-top: 20px;
            font-family: "Rubik";
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        details summary {
            outline: none;
        }
        @media(max-width: 1000px) {
            .left-right-box {
                width: 90%;
                flex-direction: column;
            }
            .right {
                margin: 0px auto;
                border-left: unset;
                padding-left: unset;
            }
            .box {
                width: 90%;
            }
        }

        /* FAQ */
        
        body {
            margin: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .body-box {
        }

        .header {
            padding-bottom: 150px;
        }

        h1 {
            text-align: center;
            color: green;
            padding-top: 30px;
        }

        .left-right-box {
            display: flex;
            justify-content: center;
            width: 900px;
            width: ;
            margin: 0px auto;
            width: 1000px;
        }

        .left {
            max-width: 875px;
            margin-right: 16px;
        }

        button {
            background-color: green;
            color: white;
            height: 75px;
            width: 500px;
            font-size: 20px;
        }

        .button {
            padding-bottom: 20px;
        }

        a {
            text-decoration: none;
        }

        .right {
            padding-top: 30px;
            max-width: 400px;
            border-left: 1px solid black;
            margin-left: 16px;
        }

        .otl {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .phone {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .advice-call {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .e-mail {
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .textfields {
            padding-top: 25px;
            display: flex;
        }

        .input-categorie {
            max-width: 20px;
        }

        textarea {
            background-color: grey;
            width: 850px;
            height: 50px;
            padding: 20px;
        }

        .textarea-commentar {
            height: 125px;
        }

        .right-box {
            padding-left: 20px;
        }

        .left-box {
            padding-top: 20px;
        }

        .text {
            padding-bottom: 20px;
        }

        .btn-send {
            background-color: green;
            width: 150px;
            height: 50px;
        }

        @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

        body {
            background: #f6f6f6;
        }

        .box {
            width: 640px;
            margin: 100px auto;
            background: #fff;
            border-radius: 7px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
        }

        .box .heading {
            background: green;
            border-radius: 7px 7px 0px 0px;
            padding: 10px;
            color: #fff;
            text-align: center;
            font-family: "Rubik";
        }

        .faqs {
            padding: 0px 20px 20px;
        }

        ::-webkit-details-marker {
            float: right;
            margin-top: 3px;
        }

        details {
            background: #f6f6f6;
            padding: 10px 20px;
            border-radius: 7px;
            margin-top: 20px;
            font-family: "Rubik";
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        details summary {
            outline: none;
        }
        @media(max-width: 1000px) {
            .left-right-box {
                width: 90%;
                flex-direction: column;
            }
            .right {
                margin: 0px auto;
                border-left: unset;
                padding-left: unset;
            }
            .box {
                width: 90%;
            }
        }

        /* Impressum */
        
        body {
            margin: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .body-box {
            padding-left: 125px;
            padding-right: 125px;
        }
        .seperator1 {
            height: 3px;
            width: 160px;
            background-color: green;
            margin-top: 32px;
        }
        .TÜV {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .Credits h3, a{
            text-decoration: none;
        }

        /* Jobs */
        
        body {
            margin: 0px;
            color: #333;
            font-family: 'Helvetica', 'Arial', sans-serif;
        }

        .body-box {
            width: 100%;
        }

        .application {
            display: flex;
        }

        .jobs-video {
            width: 100%;
            object-fit: cover;
            padding-top: 25px;
        }

        .text-box {
            padding-top: 50px;
        }

        .text-box a {
            color: green;
        }

        .application {
            display: flex;
            padding-top: 25px;
        }

        .img-one {
            width: 100%;
            object-fit: cover;
            height: 300px;
        }

        .img-two {
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
        .content {
            width: 1000px;
            margin: 0px auto;
        }
        .slideShow {
            width: 100%;
        }
        
        @media(max-width: 1000px) {
            .content {
                width: 90%;
            }
            .jobs-video {
                width: 100%;
            }
            .slideShow {
                width: 100%;
            }
        }

        /* Kontakt */

        
        body {
            margin: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .body-box {
            margin-left: 125px;
            margin-right: 125px;
        }

        h1 {
            text-align: center;
            color: green;
            padding-top: 30px;
        }

        .left-right-box {
            display: flex;
            justify-content: space-between;
        }

        .left {
            max-width: 875px;
        }

        button {
            background-color: green;
            color: white;
            height: 75px;
            width: 500px;
            font-size: 20px;
        }
        .button {
            padding-bottom: 20px;
        }
        a {
            text-decoration: none;
        }

        .right {
            padding-top: 30px;
            max-width: 400px;
            border-left: 1px solid black;
        }

        .otl {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .phone {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .advice-call {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .e-mail {
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .textfields {
            padding-top: 25px;
            display: flex;
        }

        .input-categorie {
            max-width: 20px;
        }

        textarea{
            background-color: grey;
            width: 850px;
            height: 50px;
            padding: 20px;
        }

        .textarea-commentar {
            height: 125px;
        }

        .right-box {
            padding-left: 20px;
        }

        .left-box {
            padding-top: 20px;
        }

        .text {
            padding-bottom: 20px;
        }
        .btn-send {
            background-color:green;
            width: 150px;
            height: 50px;
        }
        @media(max-width: 1000px){
            .hide-mobile {
                display: none;
            }

        }

        /* Newsletter */
        
        body {
            margin: 0px;
        }

        .body-box {
            margin-left: 125px;
            margin-right: 125px;
            padding-right: 5%;
            padding-left: 5%;
        }

        .newsletter {
            display: flex;
            justify-content: center;
        }


        h1 {
            text-align: center;
        }

        .e-mail {
            display: flex;
            justify-content: space-between;
        }

        input {
            width: 600px;
            border-radius: 100px;
            height: 50px;
        }

        button {
            border-radius: 1000px;
            height: 60px;
            color: white;
            background-color: grey;
        }

        .step1 {
            padding-bottom: 100px;
        }

        .form {
            width: 100%;
        }

        p {
            padding-bottom: 50px;
        }

        .seperator-newsletter {
            height: 3px;
            background-color: green;
            margin-top: 32px;
            text-align: center;
            width: 40%;
        }

        .newsletter-img {
            width: 100%;
            object-fit: contain;
        }

        /*
        .newsletter-img {
            padding-right: 5%;
            padding-left: 5%;
            width: 1250px;
        }

        p {
            padding-right: 5%;
            padding-left: 5%;
        }
        */











        .check-box-group {
            display: flex;
            justify-content: space-around;
        }

        .custom-checkbox {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin: 10px 0;
        }

        .custom-checkbox .label {
            font-size: 1.2em;
            margin: 0 10px;
        }

        .custom-checkbox .checkmark {
            width: 35px;
            height: 35px;
            border: 2px solid #222;
            display: inline-block;
            border-radius: 3px;
            background: #222 url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png) center/1250% no-repeat;
            transition: background-size 0.2s ease;
        }

        .custom-checkbox input:checked+.checkmark {
            background-size: 60%;
            transition: background-size 0.25s cubic-bezier(0.7, 0, 0.18, 1.24);
        }

        .custom-checkbox input {
            display: none;
        }

        /* Rezepte  */

        
        body {
            margin: 0px;
            font-family: 'Helvetica', 'Arial', sans-serif;
        }
        .body-box {
            margin: 0px auto;
            width: 1000px;
        }
        .recipe-img {
            display: flex;
            margin-bottom: 30px;
            width: 100%;
        }
        .recipe1-img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .recipe-infos {
            display: flex;
            justify-content: flex-start;
            height: 40px;
        }
        .recipe-infos p {
            padding: 20px;
        }
        .mini-icon {
            display: flex;
            align-items: center;
            background-color: #EFEFEF;
            border-radius: 10px;
            margin-right: 30px;
            width: 180px;
            justify-content: center;
        }
        .icon {
            height: 20px;
        }
        table tr {
            height: 50px;
            border-radius: 10px;
        }
        table {
            width: 100%;
        }

        table tr:nth-child(odd) td {
            background: #EFEFEF;
            border-radius: 10px;
            padding-left: 16px;
        }
        table tr:nth-child(even) td {
            background: #fff;
            padding-left: 16px;
        }
        tr:nth-child(even) {
            background: #EFEFEF;
        }
        tr:nth-child(odd) {
            background: #FFF
        }
        .Effort-Cleaning-Price-Performance-Ratio {
            display: flex;
            height: 40px;
            margin-bottom: 35px;
        }
        .Effort-Cleaning-Price-Performance-Ratio p {
            padding: 20px;
            margin: 20px;
        }
        .user {
            display: flex;
            align-items: center;
        }
        .profile-img {
            height: 80px;
            border-radius: 100%;
            margin: 16px;
        }
        .component-list {
            margin-top: 16px;
            border-collapse: collapse;
        }
        .components {
            margin-bottom: 50px;
        }
        .table, th, td {
            padding-right: 100px;
        }
        .PortionInputRow {
            padding-top: 32px;
            padding-left: 16px;
        }
        .portionInput {
            height: 30px;
            width: 200px;
            text-align: right;
            border: 1px solid grey;
            border-radius: 4px;
        }
        @media(max-width: 1000px) {
            .body-box {
                width: 90%;
            }
            .recipe-infos {
                flex-direction: column;
                align-items: center;
                height: unset;
            }
            .mini-icon {
                height: 40px;
                margin: 16px;
                width: 100%;
            }
            .PortionInputRow {
                display: flex;
                justify-content: center;
            }
            .user {
                justify-content: center;
            }
            .Effort-Cleaning-Price-Performance-Ratio {
                flex-direction: column;
                height: unset;
                justify-content: center;
                align-items: center;
            }
            .PortionInputRow {
                margin-left: 16px;
                margin-right: 16px;
                padding-left: unset;
                
            }
        }

        /* Widerruf */
        
        body {
            margin: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .body-box {
            padding-left: 125px;
            padding-right: 125px;
        }

        .seperator1 {
            height: 3px;
            width: 160px;
            background-color: green;
            margin-top: 32px;
        }

        .TÜV {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .Credits h3,
        a {
            text-decoration: none;
        }